{% extends "screener/base.html" %}
{% load static %}

{% block content %}
    {% include "screener/partials/_top_bar.html" %}
    {% include "screener/partials/_tf_bar.html" %}

    <div class="main-layout">
        {% include "screener/partials/_chart_area.html" %}
        {% include "screener/partials/_right_panel.html" %}
    </div>

    {% include "screener/partials/_settings_modal.html" %}
    {% include "screener/partials/_hour_toast.html" %}

    <!-- ===== СКРИПТЫ (порядок важен!) ===== -->

    <!-- 1. Ядро -->
    <script src="{% static 'screener/js/state_core.js' %}"></script>

    <!-- 2. Утилиты -->
    <script src="{% static 'screener/js/utils.js' %}"></script>

    <!-- 3. Независимые модули -->
    <script src="{% static 'screener/js/sound.js' %}"></script>
    <script src="{% static 'screener/js/slider.js' %}"></script>
    <script src="{% static 'screener/js/impulse_ws.js' %}"></script>

    <!-- 4. Модули -->
    <script src="{% static 'screener/js/alert_manager.js' %}"></script>
    <script src="{% static 'screener/js/data_loading.js' %}"></script>
    <script src="{% static 'screener/js/search.js' %}"></script>
    <script src="{% static 'screener/js/table.js' %}"></script>
    <script src="{% static 'screener/js/candle_ws.js' %}"></script>
    <script src="{% static 'screener/js/trades.js' %}"></script>
    <script src="{% static 'screener/js/drawings.js' %}"></script>
    <script src="{% static 'screener/js/recon.js' %}"></script>
    <script src="{% static 'screener/js/scalp.js' %}"></script>
    <script src="{% static 'screener/js/coin_groups.js' %}"></script>
    <script src="{% static 'screener/js/collage.js' %}"></script>

    <!-- 5. Зависимые модули -->
    <script src="{% static 'screener/js/chart.js' %}"></script>
    <script src="{% static 'screener/js/settings.js' %}"></script>

    <!-- 6. Инициализация -->
    <script src="{% static 'screener/js/init.js' %}"></script>
{% endblock %}